body { font: normal 14px 'HelveticaNeueLTStd47LtCn'; background:#eef2f4 url(../images/content-bg2.png) repeat-y center; }
a {color:#000; text-decoration:none;}
a:hover { text-decoration:underline;}
strong {font-family:'HelveticaNeueLTStd67MdCn';}

/*text selection code*/
::-moz-selection{background:#3a72b7; color:#fff; text-shadow:none;}
::selection {background:#3a72b7; color:#fff; text-shadow: 0; }
a:link {-webkit-tap-highlight-color:#3a72b7;}
.clearfloat {clear:both; height:0;}
#wrapper {}

sup {font-size:50%; }
/*header*/
#header-container { background:url(../images/header-bg.jpg) repeat-x; height: 164px; }
#header { width:1000px; margin: 0 auto;	overflow:hidden; /*border:1px solid red; */}
.date, .search, .login {float: right; width: 300px; text-align:right; }
.search{margin-top: 3px;text-align:right;}
.date {font: normal 14px 'QlassikMediumRegular'; margin:33px 10px;}
.date a{color:#ced0d3;} .date span {margin-left: 10px;}
.date a:hover {opacity:.8;}
.login { margin-top: 10px; }
.logo {float:left; width: 200px; position: absolute; top:10px;}
.navigation-main {width:500px; float:left;}
.navigation-main li {float:left; display: inline-block; margin: 8px 15px;}
.navigation-main li a {color:#fff; font: normal 16px 'QlassikMediumRegular'; text-decoration:none; }
.navigation-main li a:hover, .select {border-bottom: 4px solid #fff;}
.nav-spacer{height:10px;}
.navigation-sub {float:left; width:650px; margin-top: 7px;}
.navigation-sub li {float:left; display: inline-block; margin: 8px 15px;}
.navigation-sub li a {color:#fff; font: normal 15px 'QlassikMediumRegular'; text-decoration:none; }
.navigation-sub li a:hover {border-bottom: 2px solid #fff;}

.search-fld {color:#7eb0ed; background: #142750; padding: 6px; width: 235px; margin-right:10px; border:none;font: normal 14px 'QlassikMediumRegular';}
.login-fld {color:#0c1425; background: #f3f8fb; padding: 0 6px; width: 103px; margin-right:10px; height:20px;border:1px solid #fff;
font: normal 14px 'QlassikMediumRegular';}
.search-bt {background:url(../images/search-bg.jpg) no-repeat; border:none; width:28px; height: 23px;}
.login-bt {background:url(../images/login-arrow.jpg) 3px no-repeat; border:none; width:28px; height: 23px;}

/*banner*/
#banner-container { background:url(../images/banner-blue-bg.png) repeat-y; height: 380px; }
#banner {	width: 1000px;	margin: 0 auto;	overflow:hidden;}
.banner-right {float:right; width: 500px;}
.banner-left{float:left; width: 450px; border: 5px solid #0c1425; margin-top:26px;}

.thead {background:#0c1425; color:#fff; font: normal 18px 'HelveticaNeueLTStd95Black'; text-align:left;}
.th-padd {padding:8px 0 8px 8px;}
.th-padd2 {padding:5px 0 8px 8px;}
.thead2 {background:#101f3e; color:#fff; font: normal 16px 'QlassikMediumRegular'; text-align:left;}
.th-drop {background:#101f3e; color:#fff; font: normal 16px 'QlassikMediumRegular'; border:none; width: 100px;}
.td1,.td2,.td3, .td4 {background:#e3e6e8; color:#000;font: normal 13px 'HelveticaNeueLTStd47LtCn';}
.td2{background:#eef2f4;}
.td1 a:hover,.td2 a:hover {color:#3a72b7;}
.td-padd3 {padding: 3px 0 3px 8px;}
.th-padd4 {padding: 9px 0 9px 8px; font-family: 'HelveticaNeueLTStd67MdCn';}
.td-padd5 {padding: 7px 0 7px 8px;}
.table-arr {margin-bottom:-7px;}
.td3,.td4 {background:#3a72b7;  font-size: 15px; color:#fff; }
.td3 a,.td4 a {color:#fff;}
.td4 {background:#9fcaff;}
.td3 a:hover, .td4 a:hover {color:#fff;}


.banner-right {background:url(../images/banner-social-media.png)  right 30px  no-repeat; overflow:hidden; color:#fff; margin-top:26px; 
width: 540px;}
.banner-right h1 {margin: 150px 0 0 40px; font: normal 45px 'HelveticaNeueLTStd95Black'; }
.banner-right p {color:#c8def9; font: normal 16px/20px 'HelveticaNeueLTStd47LtCn'; margin:5px 0 0 40px; }

/*content*/
#content {width: 1000px; margin: 0 auto; overflow:hidden; padding: 40px;}
.content-left {float:left; width:710px;}
.content-header {overflow:hidden; border-bottom:1px solid #eef2f4; margin-bottom:25px;}
.content-header h1 {float:left; font: normal 25px 'HelveticaNeueLTStd67MdCn';}
.content-header h1 img {margin-bottom:-3px;}
.content-header h2 {float:right; font: normal 13px 'HelveticaNeueLTStd67MdCn'; margin-top:17px;}
.content-header h2 a {color:#3a72b7;}
.content-header h3 {float:left; font: normal 30px 'HelveticaNeueLTStd95Black'; width: 100%;}
.content-header h3 p { color:#0c418b; font: normal 24px 'HelveticaNeueLTStd67MdCn';}
.content-header h3 img { float: left; margin: 0 20px 20px; 0;}

.content-header h4 {float:left; font: normal 22px 'HelveticaNeueLTStd95Black'; width: 100%; margin: 10px 0 0 0;}
.content-header h4 p { }
.content-header h4 img { float: left; margin: 0 10px 0 0; }

.blueline{ border-bottom: 1px solid #9fcaff; height:1px; margin: 10px 0 0 238px;}

.comp-logo {position:relative;  float:left; left: -52px;}
.badge {width: 52px; height:52px; background:url(../images/icon-badge.png) no-repeat; position:relative; z-index:100; left:170px;
color:#fff; font: normal 30px 'HelveticaNeueLTStd67MdCn'; padding:5px 0 0 0; text-align:center; float:left; cursor:default;}

.categories-menu {float: left; width: 240px; font-size:15px;}
.categories-menu li a {padding: 10px ; border-bottom: 1px solid #eef2f4; display:block; }
.categories-menu li a:hover, .categories-select { background:#3a72b7; color:#fff; text-decoration:none; display:block; }
.content-categories {float: right; width: 720px; }
.sort { background:#0CF; width:470px; overflow:hidden; background: #9fcaff; font: normal 15px 'HelveticaNeueLTStd67MdCn'; float:left;}
.klipscompare {float:right;padding:10px; background:#F7F7F7; width: 470px; text-align:right;}
.klipscompare img {margin: 0 3px -3px 5px;}
.sort li a{ display:inline-block; padding:10px 20px; float:left;  color:#fff;}
.sort li a:hover , .sort-select { background:#3a72b7; text-decoration:none;}
.sort img {margin : 0 10px -3px 0;}
.pagination { text-align:center; }
.pagination span { margin: 0 10px;}
.pagination a{ color:#3a72b7; margin: 0 10px;}
.pagination a:hover { text-decoration:underline;}
.klips-table { border-bottom: 3px solid #e3e3e3; border-right: 3px solid #e3e3e3;}

.stat-box {margin-bottom:20px; border-bottom: 1px solid #eef2f4;}
.comp-info {float:right; width: 450px;}
.comp-info-header{border-bottom:1px solid #eef2f4; margin-bottom:20px; height: 40px; }
.comp-info-header h1 { float:left; font:normal 25px 'HelveticaNeueLTStd95Black';}
.comp-info2 {float:right; width: 430px;}
.klip {float:right; margin-top:-10px; z-index:100;}
.linkedin, .youtube, .facebook, .twitter, .google { color:#fff; float:left; width:95px; margin: 0 5px 0 0; border:none;}
.linkedin a, .youtube a, .facebook a, .twitter a, .google a {color: #fff; display:block;padding: 4px 5px 5px 5px; font: bold 11px Tahoma; text-decoration: none;}
.linkedin {background:#3692b9; }
.youtube {background:#db1d1d;}
.facebook{background:#5b75aa;}
.twitter{background:#63cbef;}
.google{background:#019e01;}

.form-fld {background: #f3f6f7; border:none; height: 30px; padding: 4px 0 0 4px; font: normal 14px/20px 'HelveticaNeueLTStd47LtCn'; width: 150px; margin:0 10px; padding-bottom:5px\9;}

.socialicons {float:right; width:150px; text-align:right; margin-top:3px;}
.socialicons2 {float:right; width:150px; text-align:right; margin-top:-3px;}
.socialicons img { margin-left: 2px;}
.comp-img {margin-bottom: -3px;}
.blue {color:#077cdc;}
.info-links {position:relative; top: -20px; z-index: 920; }
.info-links  p{padding-left: 250px;}
.info-links ul {font: normal 14px/20px 'HelveticaNeueLTStd47LtCn'; margin-top: 5px;}
.info-box1, .info-box2, .info-box3 { width:170px; float:left;}
.info-box1 h1, .info-box2 h1, .info-box3 h1 {font: normal 16px 'HelveticaNeueLTStd67MdCn';}
.info-box1 a, .info-box2 a, .info-box3 a {color:#077cdc;}
.info-box2 { width:240px;}
.info-box3 { width: 170px}
.comp-p {float: left;}
.comp-p p {margin: 10px 0;}
.comp-p img {margin: 0 5px -3px 0;}

.content-right { float:right; width: 250px;}
.advertisment {}
.spacer {height: 20px; clear:both;}
.rp-heading {font: normal 24px 'HelveticaNeueLTStd67MdCn'; border-bottom:1px solid #eef2f4; margin-bottom: 20px;}
.rp-heading img {margin-bottom:-3px;}
.h-spc {margin-right: 20px;} 
.right-panel h1 {font: normal 16px 'HelveticaNeueLTStd67MdCn'; color:#3a72b7;}
.right-panel p { padding: 12px 0;}
.right-panel h2 a {color:#3a72b7; margin:10px 0; font-size:12px;}

.klips-left {float: left; width:480px; overflow:hidden; font-size:15px;}
.klips-right {float: right; width:480px; overflow:hidden; font-size:15px;}
.box-container {margin: 0 0 40px 0;	background:url(../images/bg-gradient.png) right bottom repeat-x; padding: 0 20px;}
.box-container h1 {font: normal 16px 'HelveticaNeueLTStd67MdCn'; border-bottom:1px solid #eef2f4; padding: 10px 0;}
.u-line p {padding: 7px 0;border-bottom:1px solid #eef2f4;}
.u-line span {float: right;}
.u-line a {color:#3a72b7;}

.col {float:left; padding-right:20px; width: 45%;} 
.col a {font-size:12px;}
.ttle {float: left; width: 120px;padding: 7px 0;border-bottom:1px solid #eef2f4;}
.ttle2 {float: left; width: 200px;padding: 7px 0;border-bottom:1px solid #eef2f4; }
.fm {	float:left;	width:150px; padding:10px 0;}

/*graphs*/
#graph1 {width: 100%; height: 300px;}
#graph2 {width: 100%; height: 300px;}

/*fotter*/
#footer-container {background:#3a72b7; color:#7da2ce; overflow:hidden; width:100%;}
#footer { width: 1000px; margin: 0 auto; padding: 50px 0 70px 0;}
#footer a {color:#d8e3f1;}
#footer p{margin-bottom:5px;}
.copyright {float:left; width:300px; font-size:12px;}
.footer-navigation {float:right; width:485px; font-size: 16px;}
.footer-navigation li a {float:left; padding-left:15px; text-align:right;}
.footer-follow { float:right; width: 200px; text-align:right; margin: 10px 35px 0 0; }
.footer-follow img {margin-left:3px;}
